
<div class="container">
<div class="row">
<div class="super-list">
<ul>
  {{#each model as |super|}}
    <div class="col-md-4 col-md-offset-3 text-center">
      <li>
        <h3>{{#link-to "supers.show" super}}{{super.name}}{{/link-to}}</h3>
        <p>{{super.category}}</p>
      </li>
    </div>
  {{/each}}
</ul>
</div>
</div>
</div>
{{outlet}}
